.vs/
Drivers/
VisualGDB/
//*.vcxproj*
stm32.*
.mxproject
.project
*.ioc
//*.sln
*.d
*.o
*.a1
*.dump
*.dump-cert-results
*.dump-misra-results
backup
backup - Copy
*.TMP
.visualgdb/CodeDB/APTX1_1-Debug-VisualGDB/AutoPCH
.visualgdb/CodeDB/APTX1_1-Debug-VisualGDB/GlobalCache/000
.visualgdb/CodeDB/APTX1_1-Debug-VisualGDB/GlobalCache/000
.visualgdb/CodeDB/APTX1_1-Debug-VisualGDB/GlobalCache/000
.visualgdb/CodeDB/APTX1_1-Debug-VisualGDB
.vgdbsettings
*.user
*.lck
.visualgdb/CodeDB/APTX1_1-Release-VisualGDB/GlobalFileTable.000
.visualgdb/CodeDB/APTX1_1-Release-VisualGDB/GlobalFileTable.001
*.npd
*.rdb
*.npa00
